html {
    background-color: #eee;
}
.navbar-brand {
    margin-right: 50px;
}

.login-bg {
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    background: url('../img/login_bg.jpg') no-repeat 80%;
    background-size: cover;
}